[package]
name = "rex"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
tui = "0.18"
crossterm = "0.24.0"  
rusqlite = { version = "0.27.0", features = ["bundled"] }
chrono = "0.4.19"
open = "3.0.1"